In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
363,tt1232783,12500000,27206120,Sorority Row,Rumer Willis|Briana Evigan|Jamie Chung|Leah Pi...,Stewart Hendler,The Sisters of Theta Pi Are Dying To Keep a Se...,When five sorority girls inadvertently cause t...,101,Horror|Mystery|Thriller,Summit Entertainment|Karz Entertainment,9/9/2009,5.3,2009
1745,tt0808279,15000000,7938872,Funny Games,Naomi Watts|Tim Roth|Michael Pitt|Brady Corbet...,Michael Haneke,Let the games begin...,"When Ann, husband George and son Georgie arriv...",112,Horror|Thriller|Crime,Halcyon Pictures|Kinematograf Wien,10/20/2007,6.2,2007

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [15]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [73]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
#answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [38]:
# тут пишем ваш код для решения данного вопроса:
data_temp = data.sort_values(by='budget',ascending=False)
data_temp1 = data_temp.head(1)
data_temp1.original_title
data_temp1.imdb_id
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [39]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать

data_temp = data.sort_values(by='runtime',ascending=False)
data_temp1 = data_temp.head(1)
print(data_temp1.original_title, data_temp1.imdb_id)


answers['2'] = 'Gods and Generals (tt0279111)'

1157    Gods and Generals
Name: original_title, dtype: object 1157    tt0279111
Name: imdb_id, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [40]:
data_temp = data.sort_values(by='runtime',ascending=True)
data_temp1 = data_temp.head(1)
print(data_temp1.original_title, data_temp1.imdb_id)


answers['3'] = 'Winnie the Pooh (tt1449283)'

768    Winnie the Pooh
Name: original_title, dtype: object 768    tt1449283
Name: imdb_id, dtype: object

# 4. Какова средняя длительность фильмов?

In [41]:
data.runtime.mean()
answers['4'] = '109.6585494970884'

# 5. Каково медианное значение длительности фильмов?

In [42]:
print(data.runtime.median())
answers['5'] = '107.0'

108.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [43]:
# лучше код получения столбца profit вынести в Предобработку что в начале

data['profit'] = data['revenue'] - data['budget']
data_temp = data.sort_values(by = 'profit', ascending=False)
data_temp1 = data_temp.head(1)
display(data_temp1.original_title, data_temp1.imdb_id)
answers['6'] = 'Avatar (tt0499549)'

239    Avatar
Name: original_title, dtype: object

239    tt0499549
Name: imdb_id, dtype: object

# 7. Какой фильм самый убыточный?

In [44]:
data['profit'] = data['revenue'] - data['budget']
data_temp = data.sort_values(by = 'profit', ascending=True)
data_temp1 = data_temp.head(1)
display(data_temp1.original_title, data_temp1.imdb_id)
answers['7'] = 'The Lone Ranger (tt1210819)'

1245    The Lone Ranger
Name: original_title, dtype: object

1245    tt1210819
Name: imdb_id, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [45]:
data_temp = data.query('profit > 0')
display(len(data_temp))

answers['8'] = '1478'

4764

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [46]:
data_temp = data.query('release_year == 2008').sort_values(by = 'profit', ascending=False)
data_temp1 = data_temp.head(1)
display(data_temp1.original_title, data_temp1.imdb_id)
answers['9'] = 'The Dark Knight (tt0468569)'

599    The Dark Knight
Name: original_title, dtype: object

599    tt0468569
Name: imdb_id, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [47]:
data_temp = data.query('2012 <= release_year <= 2014').sort_values('profit')
data_temp1 = data_temp.head(1)
display(data_temp1.original_title, data_temp1.imdb_id)
answers['10'] = 'The Lone Ranger (tt1210819)'

1245    The Lone Ranger
Name: original_title, dtype: object

1245    tt1210819
Name: imdb_id, dtype: object

# 11. Какого жанра фильмов больше всего?

In [67]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data_temp = data.genres.apply(lambda x: x.split('|'))
data_temp.reset_index(drop=True,inplace=True)

list_genres = []

for i in range(len(data_temp)):
    list_genres.extend(data_temp[i])

display(pd.Series(list_genres).value_counts())
    
answers['11'] = 'Drama'

Drama              2590
Thriller           2105
Action             2089
Comedy             1927
Adventure          1374
Crime              1111
Romance             886
Science Fiction     880
Fantasy             767
Family              688
Mystery             568
Horror              566
Animation           353
History             233
War                 209
Music               175
Western              62
Documentary          17
Foreign               4
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [49]:
data_temp = data.query('profit > 0').genres.apply(lambda x: x.split('|'))
data_temp.reset_index(drop=True,inplace=True)
data_temp.head(55)
list_genres = []
for i in range(len(data_temp)):
    list_genres.extend(data_temp[i])

display(pd.Series(list_genres).value_counts())
    
answers['12'] = 'Drama'

Drama              1876
Thriller           1602
Action             1591
Comedy             1558
Adventure          1104
Crime               815
Romance             694
Science Fiction     688
Fantasy             656
Family              597
Horror              485
Mystery             428
Animation           304
History             177
War                 156
Music               133
Western              43
Documentary          15
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [170]:
data_temp = data.director.apply(lambda x: x.split('|'))
#data_temp.reset_index(drop=True,inplace=True)
data_temp.head(14)
list_directors = []
for i in range(len(data_temp)):
    list_directors.extend(data_temp[i])

data_directors = pd.Series(list_directors)

data_directors
#for i in range(len(data_temp2())):
#    data_temp2[i] = data[data.direcotor.index[i] ]
#data_directors['sum_revenue'] = data
#data_directors
#answers['13'] = ''

0        Colin Trevorrow
1          George Miller
2       Robert Schwentke
3            J.J. Abrams
4              James Wan
              ...
2048        Bryan Singer
2049            Uli Edel
2050         Des McAnuff
2051        Diane Keaton
2052        Mary Lambert
Length: 2053, dtype: object

In [50]:
display(data.groupby('director')['revenue'].sum().sort_values(ascending=False).head(100))
answers['13'] = 'Peter Jackson'

director
Peter Jackson              20045063036
Christopher Nolan          16507597709
Michael Bay                15558842100
Ridley Scott               14287883954
J.J. Abrams                12646351451
                              ...
Matt Reeves                 2562710504
Pete Docter                 2561125827
Chris Buck|Jennifer Lee     2548438018
Alex Proyas                 2513406390
Gavin Hood                  2506135485
Name: revenue, Length: 100, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [51]:
data_temp = data[data.genres.str.contains('Action')].director.apply(lambda x: x.split('|'))
data_temp
data_temp.reset_index(drop=True,inplace=True)
list_directors = []
for i in range(len(data_temp)):
    list_directors.extend(data_temp[i])

display(pd.Series(list_directors).value_counts())
    
answers['14'] = 'Robert Rodriguez'

Paul W.S. Anderson    28
Robert Rodriguez      27
Michael Bay           26
Zack Snyder           24
Ridley Scott          24
                      ..
Anthony Russo          1
Betty Thomas           1
Vic Armstrong          1
Tom McGrath            1
Andrew Stanton         1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [52]:
data_temp = data.query("release_year == 2012").cast.apply(lambda x: x.split('|'))


data_temp.reset_index(drop=True,inplace=True)
list_actors = []
for i in range(len(data_temp)):
    list_actors.extend(data_temp[i])

data_actors = pd.Series(list_actors)
data_actors
temp = {x: data[data.cast.str.contains(x)].query("release_year == 2012").revenue.sum() for x in data_actors}
temp1 = pd.Series(temp)
temp1.sort_values()

answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [53]:
data_temp = data.query("budget > 54310829.63843303").cast.apply(lambda x: x.split('|'))
data_temp.reset_index(drop=True,inplace=True)
list_actors = []
for i in range(len(data_temp)):
    list_actors.extend(data_temp[i])
mean_budget = data.budget.mean()
data_actors = pd.Series(list_actors).value_counts()
data_actors
#temp = {x: data[data.cast.str.contains(x)].budget.sum() for x in data_actors}
#temp1 = pd.Series(temp)
#temp1
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [54]:
data_temp = data[data.cast.str.contains('Nicolas Cage')].genres.apply(lambda x: x.split('|'))
data_temp.reset_index(drop=True,inplace=True)
list_genres = []
for i in range(len(data_temp)):
    list_genres.extend(data_temp[i])
                                      
data_genres = pd.Series(list_genres).value_counts()
data_genres
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [55]:
display(data[data.production_companies.str.contains('Paramount Pictures')].groupby('original_title')['profit'].sum().sort_values())
answers['18'] = 'K-19: The Widowmaker'

original_title
K-19: The Widowmaker                                  -64831034
Timeline                                              -60519261
Next                                                  -51788987
Alfie                                                 -46604061
Twisted                                               -24805000
                                                        ...
Mission: Impossible - Ghost Protocol                  549713380
Transformers                                          559709780
Indiana Jones and the Kingdom of the Crystal Skull    601636033
Transformers: Revenge of the Fallen                   686297228
Transformers: Dark of the Moon                        928746996
Name: profit, Length: 122, dtype: int64

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [56]:
display(data.groupby('release_year')['revenue'].sum().sort_values(ascending=False))
answers['19'] = '2015'

release_year
2015    89001215755
2014    83796916580
2009    73105107683
2013    73032189970
2011    72938926774
2010    67355868529
2012    63134162023
2007    62899002949
2008    60645166115
2004    54305517183
2005    52246704422
2006    48321979688
2003    47355347864
2002    40558346177
2001    40164725425
2000    32092557324
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [57]:
display(data[data.production_companies.str.contains('Warner Bros')].groupby('release_year')['revenue'].sum().sort_values(ascending=False))
answers['20'] = '2014'

release_year
2014    3246549646
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
2003    2814008221
2009    2737954136
2004    2731933725
2013    2599953400
2005    2412980298
2001    2280142579
2012    1869520056
2002    1702709901
2015    1691168351
2006    1576351872
2000    1025531386
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [58]:
data['months'] = data['release_date'].apply(lambda x: x[:2])
display(data.months.value_counts())
answers['21'] = '9'

9/    729
12    657
10    549
8/    529
3/    498
7/    487
6/    469
11    462
5/    454
2/    442
4/    438
1/    364
Name: months, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [59]:
display(data[data.months.str.match('6/|7/|8/')].months.value_counts().sum())
answers['22'] = '450'

1485

# 23. Для какого режиссера зима – самое продуктивное время года?

In [60]:
data[data.months.str.match('12|1/|2/')].director.value_counts()
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [61]:
data['production_companies'] = data.production_companies.str.split('|') #помещаем название студии в отдельную строку
data = data.explode('production_companies')
#display(data)

data['title_len'] = data['original_title'].str.len() #формируем новый столбец под значение средней длины названия фильма

data.groupby(by='production_companies')['title_len'].mean().sort_values(ascending=False).head(5) 
#находим студию, фильм которой с самым длинным наименованием; выводим пять лидеров
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [69]:
data['production_companies'] = data.production_companies.str.split('|')
data = data.explode('production_companies')

data['overview_len'] = data['overview'].str.split(' ').apply(lambda x: len(x))
data['overview_len']


display(data.groupby(by='production_companies')['overview_len'].mean().sort_values(ascending=False).head(5))
answers['25'] = 'Midnight Picture Show'

production_companies
Midnight Picture Show               175.0
Room 9 Entertainment                161.0
Heineken Branded Entertainment      161.0
98 MPH Productions                  159.0
Brookwell-McNamara Entertainment    156.0
Name: overview_len, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [70]:
data.groupby('original_title')['vote_average'].mean().sort_values(ascending=False).head(18)
#Сумарно мы имеем 1889 фильмов, следовательно 18 топовых из них представляют 1% лучших...Вроде бы..
answers['26'] = 'The Dark Knight'

In [8]:
len(data)

1889

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [37]:
data_temp = data.cast.apply(lambda x: x.split('|'))
data_temp.reset_index(drop=True,inplace=True)

list_actors = []
for i in range(len(data_temp)):
    list_actors.extend(data_temp[i])
pd.Series(list_actors).value_counts()
#data_actors.index.unique()

Matt Damon          110
Nicolas Cage        101
Bruce Willis         98
Robert De Niro       94
Johnny Depp          87
                   ...
Greg Siff             1
Kristen Wilson        1
Scott Adkins          1
Alec Mapa             1
Chadwick Boseman      1
Length: 3406, dtype: int64

# Submission

In [71]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '109.6585494970884',
 '5': '107.0',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '11': 'Drama',
 '26': 'The Dark Knight'}

In [72]:
# и убедиться что ни чего не пропустил)
len(answers)

26